In [61]:
import pandas as pd
import numpy as np
import os
import requests
import openpyxl
from datetime import datetime, timedelta
from requests.adapters import HTTPAdapter, Retry

## For implementing Data Analysis on `Excel` spreadsheets

In [62]:
df = pd.read_excel('/Users/aanwar/Desktop/dec_project_1/Global_Economic_Monitor/app/etl_project/data/Industrial Production, constant 2010 US$, seas. adj..xlsx')
df = df.drop(df.index[0])
df.rename(columns={'Unnamed: 0': 'Year'}, inplace=True)
df.fillna(method='ffill', inplace=True)

In [64]:
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 1 to 30
Data columns (total 92 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Year                                              30 non-null     float64
 1   Advanced Economies                                30 non-null     float64
 2   Austria                                           30 non-null     float64
 3   Belgium                                           30 non-null     float64
 4   Bangladesh                                        30 non-null     float64
 5   Bulgaria                                          25 non-null     float64
 6   Bosnia and Herzegovina                            19 non-null     float64
 7   Belarus                                           17 non-null     float64
 8   Brazil                                            30 non-null     float64
 9   Barbados                                          30 non-null     float64
 10  Canada                                            30 non-null     float64
 11  Chile                                             30 non-null     float64
 12  China                                             28 non-null     float64
 13  Colombia                                          30 non-null     float64
 14  Costa Rica                                        30 non-null     float64
 15  Cyprus                                            30 non-null     float64
 16  Czech Republic                                    30 non-null     float64
 17  Germany                                           30 non-null     float64
 18  Denmark                                           30 non-null     float64
 19  Dominican Republic                                18 non-null     float64
 20  EMDE East Asia & Pacific                          27 non-null     float64
 21  EMDE Europe & Central Asia                        30 non-null     float64
 22  Ecuador                                           25 non-null     float64
 23  Egypt, Arab Rep.                                  15 non-null     float64
 24  Emerging Market and Developing Economies (EMDEs)  27 non-null     float64
 25  Spain                                             30 non-null     float64
 26  Estonia                                           27 non-null     float64
 27  Finland                                           30 non-null     float64
 28  France                                            30 non-null     float64
 29  United Kingdom                                    30 non-null     float64
 30  Greece                                            30 non-null     float64
 31  Guatemala                                         24 non-null     float64
 32  High Income Countries                             30 non-null     float64
 33  Honduras                                          25 non-null     float64
 34  Croatia                                           30 non-null     float64
 35  Hungary                                           30 non-null     float64
 36  Indonesia                                         30 non-null     float64
 37  India                                             30 non-null     float64
 38  Ireland                                           30 non-null     float64
 39  Iceland                                           27 non-null     float64
 40  Israel                                            30 non-null     float64
 41  Italy                                             30 non-null     float64
 42  Jordan                                            23 non-null     float64
 43  Japan                                             30 non-null     float64
 44  Kazakhstan                                        26 non-null     float64
 45  Korea, Rep.                                       30 non-null     float64
 46  EMDE Latin America & Caribbean                    30 non-null     float64
 47  Low-Income Countries (LIC)                        19 non-null     float64
 48  Sri Lanka                                         15 non-null     float64
 49  Lithuania                                         29 non-null     float64
 50  Luxembourg                                        30 non-null     float64
 51  Latvia                                            26 non-null     float64
 52  Moldova, Rep.                                     15 non-null     float64
 53  Mexico                                            30 non-null     float64
 54  Middle-Income Countries (MIC)                     27 non-null     float64
 55  North Macedonia                                   25 non-null     float64
 56  Malta                                             25 non-null     float64
 57  Montenegro                                        25 non-null     float64
 58  Mongolia                                          18 non-null     float64
 59  EMDE Middle East & N. Africa                      14 non-null     float64
 60  Malawi                                            30 non-null     float64
 61  Malaysia                                          30 non-null     float64
 62  Nicaragua                                         30 non-null     float64
 63  Netherlands                                       30 non-null     float64
 64  Norway                                            30 non-null     float64
 65  Pakistan                                          27 non-null     float64
 66  Peru                                              30 non-null     float64
 67  Philippines                                       30 non-null     float64
 68  Poland                                            30 non-null     float64
 69  Portugal                                          30 non-null     float64
 70  Paraguay                                          20 non-null     float64
 71  Romania                                           30 non-null     float64
 72  Russian Federation                                30 non-null     float64
 73  EMDE South Asia                                   30 non-null     float64
 74  Singapore                                         30 non-null     float64
 75  El Salvador                                       30 non-null     float64
 76  Serbia                                            30 non-null     float64
 77  EMDE Sub-Saharan Africa                           30 non-null     float64
 78  Slovakia                                          30 non-null     float64
 79  Slovenia                                          30 non-null     float64
 80  Sweden                                            30 non-null     float64
 81  Thailand                                          25 non-null     float64
 82  Tunisia                                           30 non-null     float64
 83  Turkey                                            30 non-null     float64
 84  Uganda                                            20 non-null     float64
 85  Ukraine                                           23 non-null     float64
 86  Uruguay                                           23 non-null     float64
 87  United States                                     30 non-null     float64
 88  Uzbekistan                                        15 non-null     float64
 89  Viet Nam                                          17 non-null     float64
 90  World (WBG members)                               30 non-null     float64
 91  South Africa                                      30 non-null     float64
dtypes: float64(92)
memory usage: 21.7 KB

## Doing some Data Wrangling:

In [18]:
country_columns = df.columns[1:]  # Exclude 'Year'

# Automate table creation and data insertion for each country
for country in country_columns:
    # Create a DataFrame for the current country
    country_df = df[['Year', country]].copy()
    country_df.columns = ['year', 'gdp']  # Rename columns for consistency

    # Create a table for the country (if it doesn't exist) and insert data
    country_name = country.lower().replace(' ', '_')

## Data Engineering via API Call

### Calling API calls using incremental loads:

In [69]:
class WorldBankDataLoader:
    def __init__(self, indicator, start_year, end_year):
        """
        Initialize the WorldBankDataLoader with the indicator, start year, and end year.
        
        Args:
        - indicator (str): The indicator code for the World Bank API (e.g., 'NV.IND.TOTL.KD.ZG').
        - start_year (str): The starting year for the data.
        - end_year (str): The ending year for the data.
        """
        self.indicator = indicator
        self.date_range = f"{start_year}:{end_year}"
        self.base_url = f"https://api.worldbank.org/v2/countries/all/indicators/{self.indicator}?"
        self.params = {
            "date": self.date_range,
            "format": "json",
            "page": 1  # Start at page 1
        }
        self.all_data = []  # To store paginated data

    def fetch_data(self):
        """
        Fetch data from the World Bank API, handling pagination until all data is retrieved.
        
        Returns:
        - pd.DataFrame: A pandas DataFrame containing all the data fetched from the API.
        """
        while True:
            response = requests.get(self.base_url, params=self.params)
            response_data = response.json()

            # Check if valid data is returned
            if len(response_data) < 2 or not response_data[1]:
                break

            # Extend the all_data list with the current page's data
            self.all_data.extend(response_data[1])

            # Increment page number for the next API call
            self.params["page"] += 1

        # Normalize and return the data as a pandas DataFrame
        return pd.json_normalize(data=self.all_data)

# Example usage
if __name__ == "__main__":
    # Create an instance of the loader for the specific indicator and date range
    loader = WorldBankDataLoader(indicator="NV.IND.TOTL.KD.ZG", start_year="1990", end_year="2024")
    
    # Fetch the data
    df_data = loader.fetch_data()

    # Print the resulting DataFrame
    #print(df_data)

In [71]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9044 entries, 0 to 9043
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   countryiso3code  9044 non-null   object
 1   date             9044 non-null   object
 2   value            7088 non-null   float64
 3   unit             9044 non-null   object
 4   obs_status       9044 non-null   object
 5   decimal          9044 non-null   int64
 6   indicator.id     9044 non-null   object
 7   indicator.value  9044 non-null   object
 8   country.id       9044 non-null   object
 9   country.value    9044 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 706.7+ KB

In [72]:
df_data.head()

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2023,1.956700,,,1,NV.IND.TOTL.KD.ZG,"Industry (including construction), value added...",ZH,Africa Eastern and Southern
1,AFE,2022,2.693175,,,1,NV.IND.TOTL.KD.ZG,"Industry (including construction), value added...",ZH,Africa Eastern and Southern
2,AFE,2021,4.335020,,,1,NV.IND.TOTL.KD.ZG,"Industry (including construction), value added...",ZH,Africa Eastern and Southern
3,AFE,2020,-4.734432,,,1,NV.IND.TOTL.KD.ZG,"Industry (including construction), value added...",ZH,Africa Eastern and Southern
4,AFE,2019,1.856316,,,1,NV.IND.TOTL.KD.ZG,"Industry (including construction), value added...",ZH,Africa Eastern and Southern