In [193]:
# import requests
import pandas as pd 
import requests
import wbgapi as wb

In [194]:
wb.source.info()

id    name                                                                  code      concepts  lastupdated
----  --------------------------------------------------------------------  ------  ----------  -------------
1     Doing Business                                                        DBS              3  2021-08-18
2     World Development Indicators                                          WDI              3  2024-09-19
3     Worldwide Governance Indicators                                       WGI              3  2023-09-29
5     Subnational Malnutrition Database                                     SNM              3  2016-03-21
6     International Debt Statistics                                         IDS              4  2024-02-29
11    Africa Development Indicators                                         ADI              3  2013-02-22
12    Education Statistics                                                  EDS              3  2024-06-25
13    Enterprise Surveys                                                    ESY              3  2022-03-25
14    Gender Statistics                                                     GDS              3  2024-09-24
15    Global Economic Monitor                                               GEM              3  2024-09-20
16    Health Nutrition and Population Statistics                            HNP              3  2024-07-01
18    IDA Results Measurement System                                        IDA              3  2021-07-23
19    Millennium Development Goals                                          MDG              3  2018-09-19
20    Quarterly Public Sector Debt                                          PSD              3  2024-08-23
22    Quarterly External Debt Statistics SDDS                               QDS              3  2024-07-31
23    Quarterly External Debt Statistics GDDS                               QDG              3  2024-07-31
25    Jobs                                                                  JOB              3  2022-06-29
27    Global Economic Prospects                                             GEP              3  2024-06-11
28    Global Financial Inclusion                                            FDX              3  2024-03-28
29    The Atlas of Social Protection: Indicators of Resilience and Equity   GSP              3  2024-02-13
30    Exporter Dynamics Database – Indicators at Country-Year Level         ED1              3  2016-03-31
31    Country Policy and Institutional Assessment                           CPI              3  2024-06-28
32    Global Financial Development                                          GFD              3  2022-09-23
33    G20 Financial Inclusion Indicators                                    G2F              3  2019-02-27
34    Global Partnership for Education                                      GPE              3  2013-04-12
35    Sustainable Energy for All                                            SE4              3  2018-06-30
37    LAC Equity Lab                                                        LEL              3  2016-04-06
38    Subnational Poverty                                                   SNP              3  2015-04-27
39    Health Nutrition and Population Statistics by Wealth Quintile         HNQ              3  2022-12-13
40    Population estimates and projections                                  HPP              3  2024-07-01
41    Country Partnership Strategy for India (FY2013 - 17)                  CPS              3  2015-05-22
43    Adjusted Net Savings                                                  WAT              3  2023-06-08
45    Indonesia Database for Policy and Economic Research                   IDD              3  2022-08-11
46    Sustainable Development Goals                                         SDG              3  2022-07-22
50    Subnational Population                                                SNT              3  2017-09-21
54    Joint External Debt Hub                                               JED              3  2024-03-25
57    WDI Database Archives                                                 WDA              4  2023-08-10
58    Universal Health Coverage                                             UHC              3  2019-04-25
59    Wealth Accounts                                                       WAC              3  2021-10-27
60    Economic Fitness                                                      EFT              3  2018-04-19
61    PPPs Regulatory Quality                                               PRQ              3  2019-04-25
62    International Comparison Program (ICP) 2011                           ICP              4  2020-08-24
63    Human Capital Index                                                   HCI              3  2020-09-21
64    Worldwide Bureaucracy Indicators                                      WBI              3  2022-09-20
65    Health Equity and Financial Protection Indicators                     HPI              3  2019-11-06
66    Logistics Performance Index                                           LPI              3  2024-03-26
67    PEFA 2011                                                             PF1              4  2024-06-28
68    PEFA 2016                                                             PF6              4  2024-07-30
69    Global Financial Inclusion and Consumer Protection Survey             RFA              3  2019-06-27
70    Economic Fitness 2                                                    EF2              3  2022-07-21
71    International Comparison Program (ICP) 2005                           IC5              4  2021-09-10
73    Global Financial Inclusion and Consumer Protection Survey (Internal)  RFI              3  2019-06-27
75    Environment, Social and Governance (ESG) Data                         ESG              3  2024-04-16
76    Remittance Prices Worldwide (Sending Countries)                       RWS              3  2020-12-07
77    Remittance Prices Worldwide (Receiving Countries)                     RWR              3  2020-12-07
78    ICP 2017                                                              IC7              4  2020-10-21
79    PEFA_GRPFM                                                            GRP              4  2024-07-30
80    Gender Disaggregated Labor Database (GDLD)                            GDL              4  2020-07-25
81    International Debt Statistics: DSSI                                   DSI              4  2024-02-29
82    Global Public Procurement                                             GPP              3  2021-03-24
83    Statistical Performance Indicators (SPI)                              SPI              3  2024-01-18
84    Education Policy                                                      EDP              3  2024-07-17
85    PEFA_2021_SNG                                                         SNG              4  2024-04-29
86    Global Jobs Indicators Database (JOIN)                                JON              3  2023-05-22
87    Country Climate and Development Report (CCDR)                         CCD              3  2022-10-07
88    Food Prices for Nutrition                                             FPN              4  2024-07-24
89    Identification for Development (ID4D) Data                            ID4              3  2022-12-21
90    ICP 2021                                                              IC2              4  2024-08-04
91    PEFA_CRPFM                                                            CRP              4  2024-08-19
      69 elements

In [138]:
data = wb.series.list(q='export')
print(data)

<generator object list at 0x0000019E0D1FCBA0>

In [139]:
for id in data:
    print(id)

{'id': 'DXGSRMRCHNSCD', 'value': 'Exports Merchandise, Customs, current US$, millions, not seas. adj.'}
{'id': 'DXGSRMRCHNSKD', 'value': 'Exports Merchandise, Customs, constant US$, millions, not seas. adj.'}
{'id': 'DXGSRMRCHNSXD', 'value': 'Exports Merchandise, Customs, Price, US$, not seas. adj.'}
{'id': 'DXGSRMRCHSACD', 'value': 'Exports Merchandise, Customs, current US$, millions, seas. adj.'}
{'id': 'DXGSRMRCHSAKD', 'value': 'Exports Merchandise, Customs, constant US$, millions, seas. adj.'}
{'id': 'DXGSRMRCHSAXD', 'value': 'Exports Merchandise, Customs, Price, US$, seas. adj.'}

In [219]:
# read local data file

filename = "data\\raw_data\Exports Merchandise, Customs, Price, US$, seas. adj..xlsx"
df = pd.read_excel(filename)

In [196]:
# request data from API

# Define the indicator for merchandise exports
id = "DXGSRMRCHSAXD" 
# Define the URL for merchandise exports
api_url = (f"http://api.worldbank.org/v2/country/all/indicator/{id}?format=json")

IndentationError: unexpected indent (1705016532.py, line 6)

In [140]:
#Fetch data from the World Bank API
response = requests.get(api_url)

In [141]:
# Check the status code and parse the data if successful
data = []

if response.status_code == 200:
    data.append(response.json())      
else:
    print(f"Failed to fetch data: HTTP Status Code {response.status_code}")

Failed to fetch data: HTTP Status Code 502

In [220]:
# show requested data
df.head()

,Unnamed: 0,Advanced Economies,Argentina,Australia,Belgium,Brazil,Canada,Chile,China,Czech Republic,...,EMDE Sub-Saharan Africa,Slovakia,Sweden,Thailand,Turkey,"Taiwan, China",Uganda,United States,World (WBG members),South Africa
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1995.0,0.932702,NaN,0.521517,0.541227,0.650229,NaN,NaN,NaN,NaN,...,0.720845,NaN,0.882927,0.739027,26.027210,1.264989,NaN,0.857387,0.873952,0.474156
2,1996.0,0.901411,NaN,0.528008,0.533400,0.650556,NaN,NaN,NaN,NaN,...,0.745894,NaN,0.893838,0.821586,14.280940,1.239935,NaN,0.862021,0.847990,0.470946
3,1997.0,0.832098,NaN,0.509501,0.520136,0.646631,0.615884,NaN,NaN,NaN,...,0.728451,NaN,0.789265,0.821084,7.346032,1.212253,NaN,0.850345,0.792446,0.461594
4,1998.0,0.798121,NaN,0.452887,0.527673,0.602797,0.565256,NaN,NaN,0.597211,...,0.724643,NaN,0.754438,0.716041,4.005045,1.098447,NaN,0.822303,0.764265,0.429468

In [ ]:
# convert into dataframe 
df = pd.json_normalize(data)
df.head()

### Transforming data

In [221]:
# understand the columns
print(df.columns)

Index(['Unnamed: 0', 'Advanced Economies', 'Argentina', 'Australia', 'Belgium',
       'Brazil', 'Canada', 'Chile', 'China', 'Czech Republic', 'Germany',
       'Denmark', 'EMDE East Asia & Pacific', 'EMDE Europe & Central Asia',
       'Emerging Market and Developing Economies (EMDEs)', 'Spain', 'Estonia',
       'Finland', 'France', 'United Kingdom', 'High Income Countries',
       'Hong Kong SAR, China', 'Hungary', 'Indonesia', 'Ireland', 'Israel',
       'Italy', 'Jordan', 'Japan', 'Korea, Rep.',
       'EMDE Latin America & Caribbean', 'Low-Income Countries (LIC)',
       'Mexico', 'Middle-Income Countries (MIC)',
       'EMDE Middle East & N. Africa', 'Malaysia', 'Netherlands', 'Peru',
       'Philippines', 'Poland', 'Russian Federation', 'EMDE South Asia',
       'Singapore', 'EMDE Sub-Saharan Africa', 'Slovakia', 'Sweden',
       'Thailand', 'Turkey', 'Taiwan, China', 'Uganda', 'United States',
       'World (WBG members)', 'South Africa'],
      dtype='object')

In [222]:
# remove leading and trailing spaces
df.columns = df.columns.str.strip()
df.columns

Index(['Unnamed: 0', 'Advanced Economies', 'Argentina', 'Australia', 'Belgium',
       'Brazil', 'Canada', 'Chile', 'China', 'Czech Republic', 'Germany',
       'Denmark', 'EMDE East Asia & Pacific', 'EMDE Europe & Central Asia',
       'Emerging Market and Developing Economies (EMDEs)', 'Spain', 'Estonia',
       'Finland', 'France', 'United Kingdom', 'High Income Countries',
       'Hong Kong SAR, China', 'Hungary', 'Indonesia', 'Ireland', 'Israel',
       'Italy', 'Jordan', 'Japan', 'Korea, Rep.',
       'EMDE Latin America & Caribbean', 'Low-Income Countries (LIC)',
       'Mexico', 'Middle-Income Countries (MIC)',
       'EMDE Middle East & N. Africa', 'Malaysia', 'Netherlands', 'Peru',
       'Philippines', 'Poland', 'Russian Federation', 'EMDE South Asia',
       'Singapore', 'EMDE Sub-Saharan Africa', 'Slovakia', 'Sweden',
       'Thailand', 'Turkey', 'Taiwan, China', 'Uganda', 'United States',
       'World (WBG members)', 'South Africa'],
      dtype='object')

In [223]:
# Rename the column 'Unnamed: 0'
df.rename(columns={'Unnamed: 0': 'year'}, inplace=True)
df

,year,Advanced Economies,Argentina,Australia,Belgium,Brazil,Canada,Chile,China,Czech Republic,...,EMDE Sub-Saharan Africa,Slovakia,Sweden,Thailand,Turkey,"Taiwan, China",Uganda,United States,World (WBG members),South Africa
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1995.0,0.932702,NaN,0.521517,0.541227,0.650229,NaN,NaN,NaN,NaN,...,0.720845,NaN,0.882927,0.739027,26.027210,1.264989,NaN,0.857387,0.873952,0.474156
2,1996.0,0.901411,NaN,0.528008,0.533400,0.650556,NaN,NaN,NaN,NaN,...,0.745894,NaN,0.893838,0.821586,14.280940,1.239935,NaN,0.862021,0.847990,0.470946
3,1997.0,0.832098,NaN,0.509501,0.520136,0.646631,0.615884,NaN,NaN,NaN,...,0.728451,NaN,0.789265,0.821084,7.346032,1.212253,NaN,0.850345,0.792446,0.461594
4,1998.0,0.798121,NaN,0.452887,0.527673,0.602797,0.565256,NaN,NaN,0.597211,...,0.724643,NaN,0.754438,0.716041,4.005045,1.098447,NaN,0.822303,0.764265,0.429468
5,1999.0,0.774113,NaN,0.431540,0.518662,0.525761,0.570130,NaN,NaN,0.550966,...,0.712943,NaN,0.719356,0.693310,2.350729,1.039862,NaN,0.811970,0.742139,0.416887
6,2000.0,0.749386,NaN,0.448914,0.527196,0.543180,0.621817,NaN,NaN,0.524711,...,0.710374,NaN,0.676919,0.674693,1.486397,1.064513,NaN,0.825061,0.730953,0.423374
7,2001.0,0.719179,NaN,0.440415,0.519790,0.523961,0.606589,NaN,NaN,0.534771,...,0.660662,NaN,0.610137,0.624321,0.786650,0.987301,0.472578,0.818148,0.702619,0.404743
8,2002.0,0.729602,NaN,0.449346,0.559169,0.499755,0.584519,NaN,NaN,0.581984,...,0.698528,NaN,0.638252,0.629235,0.586350,0.951448,0.478414,0.810049,0.717322,0.411094
9,2003.0,0.810873,NaN,0.494143,0.665736,0.522898,0.649887,0.410251,NaN,0.679873,...,0.902078,NaN,0.749926,0.666254,0.666666,0.940605,0.530602,0.822900,0.800839,0.533345
10,2004.0,0.887134,0.614913,0.579532,0.791672,0.587913,0.730094,0.545431,NaN,0.773940,...,1.104535,NaN,0.821623,0.707486,0.811531,0.984113,0.593797,0.854561,0.890912,0.642692
11,2005.0,0.921093,0.643394,0.683847,0.860761,0.659470,0.831006,0.677765,0.763989,0.816349,...,1.327097,NaN,0.841416,0.758619,0.910289,0.997352,0.684136,0.881758,0.945607,0.696938
12,2006.0,0.957698,0.709170,0.781590,0.934456,0.741658,0.892698,0.922507,0.803867,0.856780,...,1.518462,NaN,0.889148,0.798594,0.885057,1.010441,0.781919,0.913161,0.990372,0.769050
13,2007.0,1.036122,0.802764,0.874513,1.076065,0.819840,0.969079,1.000241,0.888924,0.967225,...,1.735491,NaN,1.004837,0.844973,1.103141,1.036461,0.931138,0.957742,1.076306,0.836660
14,2008.0,1.135470,1.015197,1.091113,1.165502,1.034511,1.117011,0.951079,1.056715,1.100698,...,2.028129,NaN,1.069333,0.931979,1.287325,1.058158,1.108388,1.015346,1.210207,0.910648
15,2009.0,1.026903,0.906226,0.949402,0.890279,0.896140,0.898135,0.846314,1.009289,0.985161,...,1.891348,0.972084,0.939832,0.935216,0.896168,0.942841,0.847521,0.968685,1.082474,0.892877
16,2010.0,1.059339,0.980247,1.162883,0.991283,1.081616,1.011587,1.082617,1.042124,0.971387,...,2.304464,0.954168,0.987622,1.021020,0.954389,1.008591,0.889231,1.015932,1.134671,1.068172
17,2011.0,1.165536,1.160859,1.471636,1.186061,1.333415,1.124542,1.192516,1.200423,1.066123,...,2.629921,1.060773,1.093152,1.079162,0.957984,1.081444,1.000522,1.097594,1.272547,1.222998
18,2012.0,1.128738,1.188934,1.360237,1.098049,1.267501,1.094100,1.118930,1.254046,0.991278,...,2.547864,0.954863,1.033124,1.086090,0.865118,1.056922,0.892150,1.101432,1.248796,1.123500
19,2013.0,1.130255,1.171659,1.262873,1.149716,1.227511,1.076392,1.061223,1.277896,1.002647,...,2.447842,0.966578,1.023258,1.080701,0.819759,1.030678,0.830881,1.096762,1.248332,1.044926
20,2014.0,1.114541,1.142516,1.135438,1.150958,1.162659,1.053119,1.019520,1.266481,0.979996,...,2.219356,0.929013,1.000904,1.066767,0.704281,1.010601,0.878181,1.091188,1.222117,0.978332
21,2015.0,0.964482,0.969051,0.859761,0.915984,0.906281,0.871406,0.855689,1.231288,0.812058,...,1.627361,0.761483,0.821635,1.023043,0.502963,0.920086,0.637798,1.022240,1.053475,0.828757
22,2016.0,0.940697,0.922290,0.821375,0.996069,0.845028,0.827859,0.835963,1.139435,0.790889,...,1.537430,0.742489,0.793277,1.019872,0.429797,0.881316,0.576450,0.989436,1.004561,0.782557
23,2017.0,0.982458,0.937118,0.988900,1.073240,0.933104,0.874324,0.963146,1.165422,0.828623,...,1.705364,0.778717,0.840484,1.056684,0.362003,0.920757,0.606727,1.013389,1.050541,0.894196
24,2018.0,1.036820,0.991067,1.046491,1.167082,0.982336,0.922472,0.989418,1.227556,0.886462,...,1.785695,0.825428,0.891103,1.092865,0.289451,0.943226,0.572439,1.047567,1.117505,0.933847
25,2019.0,1.003952,0.930812,1.097727,1.123259,0.944962,0.894981,0.930435,1.210559,0.846671,...,1.719583,0.779756,0.848132,1.096144,0.228532,0.893628,0.528388,1.038650,1.086725,0.914387
26,2020.0,0.989462,0.904769,1.057978,1.060274,0.881583,0.853089,0.975153,1.236496,0.846201,...,1.728061,0.778814,0.831568,1.087957,0.183272,0.870270,0.527380,1.009769,1.061778,0.917930
27,2021.0,1.129764,1.131475,1.476338,1.388442,1.140824,1.081251,1.260987,1.368604,0.956978,...,2.107589,0.861062,0.978634,1.123180,0.161871,0.978098,0.663836,1.150719,1.224231,1.173388
28,2022.0,1.213406,1.315658,1.788965,1.647922,1.296042,1.249739,1.334337,1.470118,1.001729,...,2.122932,0.887307,1.019610,1.170344,0.093616,1.028273,0.641842,1.299502,1.335102,1.140717
29,2023.0,1.187559,1.192356,1.625123,1.433854,1.212218,1.130256,1.294984,1.349353,1.047002,...,1.856928,0.908098,0.991305,1.183946,0.066762,0.963979,0.616931,1.230167,1.279159,1.008577
30,2024.0,NaN,1.121440,1.490125,1.376860,1.169938,1.117174,1.314073,1.283437,1.031027,...,NaN,0.888935,0.993486,1.196794,0.047632,0.954523,0.695448,1.221329,NaN,1.024457

In [224]:
# Remove NaN from the Year column
df_cleaned = df.dropna(subset=['year'])
df_cleaned

,year,Advanced Economies,Argentina,Australia,Belgium,Brazil,Canada,Chile,China,Czech Republic,...,EMDE Sub-Saharan Africa,Slovakia,Sweden,Thailand,Turkey,"Taiwan, China",Uganda,United States,World (WBG members),South Africa
1,1995.0,0.932702,NaN,0.521517,0.541227,0.650229,NaN,NaN,NaN,NaN,...,0.720845,NaN,0.882927,0.739027,26.027210,1.264989,NaN,0.857387,0.873952,0.474156
2,1996.0,0.901411,NaN,0.528008,0.533400,0.650556,NaN,NaN,NaN,NaN,...,0.745894,NaN,0.893838,0.821586,14.280940,1.239935,NaN,0.862021,0.847990,0.470946
3,1997.0,0.832098,NaN,0.509501,0.520136,0.646631,0.615884,NaN,NaN,NaN,...,0.728451,NaN,0.789265,0.821084,7.346032,1.212253,NaN,0.850345,0.792446,0.461594
4,1998.0,0.798121,NaN,0.452887,0.527673,0.602797,0.565256,NaN,NaN,0.597211,...,0.724643,NaN,0.754438,0.716041,4.005045,1.098447,NaN,0.822303,0.764265,0.429468
5,1999.0,0.774113,NaN,0.431540,0.518662,0.525761,0.570130,NaN,NaN,0.550966,...,0.712943,NaN,0.719356,0.693310,2.350729,1.039862,NaN,0.811970,0.742139,0.416887
6,2000.0,0.749386,NaN,0.448914,0.527196,0.543180,0.621817,NaN,NaN,0.524711,...,0.710374,NaN,0.676919,0.674693,1.486397,1.064513,NaN,0.825061,0.730953,0.423374
7,2001.0,0.719179,NaN,0.440415,0.519790,0.523961,0.606589,NaN,NaN,0.534771,...,0.660662,NaN,0.610137,0.624321,0.786650,0.987301,0.472578,0.818148,0.702619,0.404743
8,2002.0,0.729602,NaN,0.449346,0.559169,0.499755,0.584519,NaN,NaN,0.581984,...,0.698528,NaN,0.638252,0.629235,0.586350,0.951448,0.478414,0.810049,0.717322,0.411094
9,2003.0,0.810873,NaN,0.494143,0.665736,0.522898,0.649887,0.410251,NaN,0.679873,...,0.902078,NaN,0.749926,0.666254,0.666666,0.940605,0.530602,0.822900,0.800839,0.533345
10,2004.0,0.887134,0.614913,0.579532,0.791672,0.587913,0.730094,0.545431,NaN,0.773940,...,1.104535,NaN,0.821623,0.707486,0.811531,0.984113,0.593797,0.854561,0.890912,0.642692
11,2005.0,0.921093,0.643394,0.683847,0.860761,0.659470,0.831006,0.677765,0.763989,0.816349,...,1.327097,NaN,0.841416,0.758619,0.910289,0.997352,0.684136,0.881758,0.945607,0.696938
12,2006.0,0.957698,0.709170,0.781590,0.934456,0.741658,0.892698,0.922507,0.803867,0.856780,...,1.518462,NaN,0.889148,0.798594,0.885057,1.010441,0.781919,0.913161,0.990372,0.769050
13,2007.0,1.036122,0.802764,0.874513,1.076065,0.819840,0.969079,1.000241,0.888924,0.967225,...,1.735491,NaN,1.004837,0.844973,1.103141,1.036461,0.931138,0.957742,1.076306,0.836660
14,2008.0,1.135470,1.015197,1.091113,1.165502,1.034511,1.117011,0.951079,1.056715,1.100698,...,2.028129,NaN,1.069333,0.931979,1.287325,1.058158,1.108388,1.015346,1.210207,0.910648
15,2009.0,1.026903,0.906226,0.949402,0.890279,0.896140,0.898135,0.846314,1.009289,0.985161,...,1.891348,0.972084,0.939832,0.935216,0.896168,0.942841,0.847521,0.968685,1.082474,0.892877
16,2010.0,1.059339,0.980247,1.162883,0.991283,1.081616,1.011587,1.082617,1.042124,0.971387,...,2.304464,0.954168,0.987622,1.021020,0.954389,1.008591,0.889231,1.015932,1.134671,1.068172
17,2011.0,1.165536,1.160859,1.471636,1.186061,1.333415,1.124542,1.192516,1.200423,1.066123,...,2.629921,1.060773,1.093152,1.079162,0.957984,1.081444,1.000522,1.097594,1.272547,1.222998
18,2012.0,1.128738,1.188934,1.360237,1.098049,1.267501,1.094100,1.118930,1.254046,0.991278,...,2.547864,0.954863,1.033124,1.086090,0.865118,1.056922,0.892150,1.101432,1.248796,1.123500
19,2013.0,1.130255,1.171659,1.262873,1.149716,1.227511,1.076392,1.061223,1.277896,1.002647,...,2.447842,0.966578,1.023258,1.080701,0.819759,1.030678,0.830881,1.096762,1.248332,1.044926
20,2014.0,1.114541,1.142516,1.135438,1.150958,1.162659,1.053119,1.019520,1.266481,0.979996,...,2.219356,0.929013,1.000904,1.066767,0.704281,1.010601,0.878181,1.091188,1.222117,0.978332
21,2015.0,0.964482,0.969051,0.859761,0.915984,0.906281,0.871406,0.855689,1.231288,0.812058,...,1.627361,0.761483,0.821635,1.023043,0.502963,0.920086,0.637798,1.022240,1.053475,0.828757
22,2016.0,0.940697,0.922290,0.821375,0.996069,0.845028,0.827859,0.835963,1.139435,0.790889,...,1.537430,0.742489,0.793277,1.019872,0.429797,0.881316,0.576450,0.989436,1.004561,0.782557
23,2017.0,0.982458,0.937118,0.988900,1.073240,0.933104,0.874324,0.963146,1.165422,0.828623,...,1.705364,0.778717,0.840484,1.056684,0.362003,0.920757,0.606727,1.013389,1.050541,0.894196
24,2018.0,1.036820,0.991067,1.046491,1.167082,0.982336,0.922472,0.989418,1.227556,0.886462,...,1.785695,0.825428,0.891103,1.092865,0.289451,0.943226,0.572439,1.047567,1.117505,0.933847
25,2019.0,1.003952,0.930812,1.097727,1.123259,0.944962,0.894981,0.930435,1.210559,0.846671,...,1.719583,0.779756,0.848132,1.096144,0.228532,0.893628,0.528388,1.038650,1.086725,0.914387
26,2020.0,0.989462,0.904769,1.057978,1.060274,0.881583,0.853089,0.975153,1.236496,0.846201,...,1.728061,0.778814,0.831568,1.087957,0.183272,0.870270,0.527380,1.009769,1.061778,0.917930
27,2021.0,1.129764,1.131475,1.476338,1.388442,1.140824,1.081251,1.260987,1.368604,0.956978,...,2.107589,0.861062,0.978634,1.123180,0.161871,0.978098,0.663836,1.150719,1.224231,1.173388
28,2022.0,1.213406,1.315658,1.788965,1.647922,1.296042,1.249739,1.334337,1.470118,1.001729,...,2.122932,0.887307,1.019610,1.170344,0.093616,1.028273,0.641842,1.299502,1.335102,1.140717
29,2023.0,1.187559,1.192356,1.625123,1.433854,1.212218,1.130256,1.294984,1.349353,1.047002,...,1.856928,0.908098,0.991305,1.183946,0.066762,0.963979,0.616931,1.230167,1.279159,1.008577
30,2024.0,NaN,1.121440,1.490125,1.376860,1.169938,1.117174,1.314073,1.283437,1.031027,...,NaN,0.888935,0.993486,1.196794,0.047632,0.954523,0.695448,1.221329,NaN,1.024457

In [225]:
# Only select the data for Australia
df_australia = df_cleaned[['year','Australia']]
df_australia.head()

     year  Australia
1  1995.0   0.521517
2  1996.0   0.528008
3  1997.0   0.509501
4  1998.0   0.452887
5  1999.0   0.431540

In [226]:
df_australia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 1 to 30
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       30 non-null     float64
 1   Australia  30 non-null     float64
dtypes: float64(2)
memory usage: 720.0 bytes

In [228]:
#change the data type from float to integer
df_australia['year'] = df_australia['year'].astype(int)
df_australia.head()

C:\Users\puggi\AppData\Local\Temp\ipykernel_22512\2234187602.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_australia['year'] = df_australia['year'].astype(int)

   year  Australia
1  1995   0.521517
2  1996   0.528008
3  1997   0.509501
4  1998   0.452887
5  1999   0.431540

In [217]:
df_australia.rename(columns={'Australia' : 'export'})

    Year    export
1   1995  0.521517
2   1996  0.528008
3   1997  0.509501
4   1998  0.452887
5   1999  0.431540
6   2000  0.448914
7   2001  0.440415
8   2002  0.449346
9   2003  0.494143
10  2004  0.579532
11  2005  0.683847
12  2006  0.781590
13  2007  0.874513
14  2008  1.091113
15  2009  0.949402
16  2010  1.162883
17  2011  1.471636
18  2012  1.360237
19  2013  1.262873
20  2014  1.135438
21  2015  0.859761
22  2016  0.821375
23  2017  0.988900
24  2018  1.046491
25  2019  1.097727
26  2020  1.057978
27  2021  1.476338
28  2022  1.788965
29  2023  1.625123
30  2024  1.490125

### Load data to file (parquet)

In [208]:
# load (overwrite) data to a csv / Parquet file 
df_australia.to_parquet('data\clean_data\Australia_merchandise_exports.parquet')

### Load data to SQL

In [209]:
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData, Float # https://www.tutorialspoint.com/sqlalchemy/sqlalchemy_core_creating_table.htm
from sqlalchemy.engine import URL
from sqlalchemy.dialects import postgresql
from sqlalchemy.schema import CreateTable

In [210]:
#database
db_user='postgres'
db_password='postgres'
db_server_name='localhost'
db_database_name='project1'

In [211]:
# create connection to database 
connection_url = URL.create(
    drivername="postgresql+pg8000",  # "postgresql+pg8000" indicates the driver to be used.
    username=db_user,
    password=db_password,
    host=db_server_name,
    port=5432,  # Ensure the port number is correct (default for PostgreSQL is 5432).
    database=db_database_name,
)

engine = create_engine(connection_url)

In [191]:
connection_url

postgresql+pg8000://postgres:***@localhost:5432/project1

Append

In [216]:
# using pandas 
df_australia.to_sql("australia", engine, if_exists="append")

30

Upsert

In [ ]:
# it is not authomaic with pandas, we need to write exactly what the table looks like  
meta = MetaData()
weather_table = Table(
    "australia", meta, 
    Column("datetime", String, primary_key=True),
    Column("id", Integer, primary_key=True),
    Column("name", String),
    Column("temperature", Float),
    Column("population", Integer)
)
meta.create_all(engine) # creates table if it does not exist