In [3]:
import requests
import pandas as pd
from datetime import datetime, timezone

In [4]:
#https://api.worldbank.org/v2/country/all/indicator/SL.UEM.TOTL.NE.ZS?date=2024:2024
#https://api.worldbank.org/v2/countries/all/indicators/SL.UEM.TOTL.ZS 
# use this to check api/metadata: https://api.worldbank.org/v2/countries/all/indicator/SL.UEM.TOTL.ZS?date=2023:2024&format=json&page=6
indicator="SL.UEM.TOTL.ZS"
date_range = "2023:2024"
#base_url = f"https://api.worldbank.org/v2/countries/all/indicators/{indicator}?{date_range}&format=json"
base_url = f"https://api.worldbank.org/v2/countries/all/indicators/{indicator}?"
params = {
    "date": date_range,
    "format": "json",
    "page": 1  # Start at page 1
}

#response_data = []
all_data = []

while True:
    response = requests.get(base_url, params=params)
    response_data = response.json()
    
    if len(response_data) < 2 or not response_data[1]:  # Check if there's data
        break
    
    all_data.extend(response_data[1])  # Add current page data to all_data
    
    # Update parameters for the next page
    params["page"] += 1

df_unemployment = pd.json_normalize(data=all_data)

print(df_unemployment)

    countryiso3code  date      value unit obs_status  decimal    indicator.id  \
0               AFE  2023   7.472824                        1  SL.UEM.TOTL.ZS
1               AFW  2023   3.397782                        1  SL.UEM.TOTL.ZS
2               ARB  2023   9.878318                        1  SL.UEM.TOTL.ZS
3               CSS  2023   9.913604                        1  SL.UEM.TOTL.ZS
4               CEB  2023   4.081257                        1  SL.UEM.TOTL.ZS
..              ...   ...        ...  ...        ...      ...             ...
261             VIR  2023  12.087000                        1  SL.UEM.TOTL.ZS
262             PSE  2023        NaN                        1  SL.UEM.TOTL.ZS
263             YEM  2023  17.215000                        1  SL.UEM.TOTL.ZS
264             ZMB  2023   5.913000                        1  SL.UEM.TOTL.ZS
265             ZWE  2023   8.759000                        1  SL.UEM.TOTL.ZS

                                       indicator.value country.id  \
0    Unemployment, total (% of total labor force) (...         ZH
1    Unemployment, total (% of total labor force) (...         ZI
2    Unemployment, total (% of total labor force) (...         1A
3    Unemployment, total (% of total labor force) (...         S3
4    Unemployment, total (% of total labor force) (...         B8
..                                                 ...        ...
261  Unemployment, total (% of total labor force) (...         VI
262  Unemployment, total (% of total labor force) (...         PS
263  Unemployment, total (% of total labor force) (...         YE
264  Unemployment, total (% of total labor force) (...         ZM
265  Unemployment, total (% of total labor force) (...         ZW

                      country.value
0       Africa Eastern and Southern
1        Africa Western and Central
2                        Arab World
3            Caribbean small states
4    Central Europe and the Baltics
..                              ...
261           Virgin Islands (U.S.)
262              West Bank and Gaza
263                     Yemen, Rep.
264                          Zambia
265                        Zimbabwe

[266 rows x 10 columns]

In [19]:
# Separate the metadata and records
#metadata = all_data[0]
#records = all_data[1]
#df_unemployment = pd.json_normalize(data=all_data)

In [28]:
df_unemployment.columns

Index(['countryiso3code', 'date', 'value', 'unit', 'obs_status', 'decimal',
       'indicator.id', 'indicator.value', 'country.id', 'country.value'],
      dtype='object')

In [29]:
df_unemployment.head()

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2023,7.472824,,,1,SL.UEM.TOTL.ZS,"Unemployment, total (% of total labor force) (...",ZH,Africa Eastern and Southern
1,AFW,2023,3.397782,,,1,SL.UEM.TOTL.ZS,"Unemployment, total (% of total labor force) (...",ZI,Africa Western and Central
2,ARB,2023,9.878318,,,1,SL.UEM.TOTL.ZS,"Unemployment, total (% of total labor force) (...",1A,Arab World
3,CSS,2023,9.913604,,,1,SL.UEM.TOTL.ZS,"Unemployment, total (% of total labor force) (...",S3,Caribbean small states
4,CEB,2023,4.081257,,,1,SL.UEM.TOTL.ZS,"Unemployment, total (% of total labor force) (...",B8,Central Europe and the Baltics

In [31]:
#print(df_unemployment["countryiso3code"])
df_unemployment.loc[df_unemployment['countryiso3code'] == 'SGP'] #dunno why not there...

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
220,SGP,2023,3.472,,,1,SL.UEM.TOTL.ZS,"Unemployment, total (% of total labor force) (...",SG,Singapore

In [32]:
print(df_unemployment["countryiso3code"])

0      AFE
1      AFW
2      ARB
3      CSS
4      CEB
      ...
261    VIR
262    PSE
263    YEM
264    ZMB
265    ZWE
Name: countryiso3code, Length: 266, dtype: object

In [1]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\neosu\anaconda3\envs\my_etl\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\neosu\anaconda3\envs\my_etl\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:

df_unemployment.to_excel("data/suph_export_unemp_from api.xls")

C:\Users\neosu\AppData\Local\Temp\ipykernel_31196\3730372455.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df_unemployment.to_excel("data/suph_export_unemp_from api.xls")

ModuleNotFoundError: No module named 'xlwt'