In [8]:
import requests
import pandas as pd
from datetime import datetime, timezone

In [26]:
#https://api.worldbank.org/v2/country/all/indicator/SL.UEM.TOTL.NE.ZS?date=2024:2024
#https://api.worldbank.org/v2/countries/all/indicators/SL.UEM.TOTL.ZS 
# use this to check api/metadata: https://api.worldbank.org/v2/countries/all/indicator/SL.UEM.TOTL.ZS?date=2023:2024&format=json&page=6
indicator="SL.UEM.TOTL.ZS"
date_range = "2023:2024"
#base_url = f"https://api.worldbank.org/v2/countries/all/indicators/{indicator}?{date_range}&format=json"
base_url = f"https://api.worldbank.org/v2/countries/all/indicators/{indicator}?"
params = {
    "date": date_range,
    "format": "json",
    "page": 1  # Start at page 1
}

#response_data = []
all_data = []

while True:
    response = requests.get(base_url, params=params)
    response_data = response.json()
    print(response_data)
    if len(response_data) < 2 or not response_data[1]:  # Check if there's data
        break
    
    all_data.extend(response_data[1])  # Add current page data to all_data
    
    # Update parameters for the next page
    params["page"] += 1

df_unemployment = pd.json_normalize(data=all_data)

print(df_unemployment)

[{'message': [{'id': '120', 'key': 'Invalid value', 'value': 'The provided parameter value is not valid'}]}]
Empty DataFrame
Columns: []
Index: []

In [19]:
# Separate the metadata and records
#metadata = all_data[0]
#records = all_data[1]
df_unemployment = pd.json_normalize(data=all_data)

In [23]:
df_unemployment.columns
print(df_unemployment)

Empty DataFrame
Columns: []
Index: []

In [21]:
df_unemployment.head()

Empty DataFrame
Columns: []
Index: []

In [16]:
#print(df_unemployment["countryiso3code"])
df_unemployment.loc[df_unemployment['countryiso3code'] == 'SGP'] #dunno why not there... 
df_unemployment.loc[df_unemployment['countryiso3code'] == 'SG']

Empty DataFrame
Columns: [countryiso3code, date, value, unit, obs_status, decimal, indicator.id, indicator.value, country.id, country.value]
Index: []

In [17]:
print(df_unemployment["countryiso3code"])

0     AFE
1     AFW
2     ARB
3     CSS
4     CEB
5     EAR
6     EAS
7     EAP
8     TEA
9     EMU
10    ECS
11    ECA
12    TEC
13    EUU
14    FCS
15    HPC
16
17    IBD
18    IBT
19    IDB
20    IDX
21    IDA
22    LTE
23    LCN
24    LAC
25    TLA
26    LDC
27    LMY
28
29
30    MEA
31    MNA
32    TMN
33    MIC
34    NAC
35
36    OED
37    OSS
38    PSS
39    PST
40    PRE
41    SST
42    SAS
43    TSA
44    SSF
45    SSA
46    TSS
47
48    WLD
49    AFG
Name: countryiso3code, dtype: object